<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="container">
    <div class="video-container">
      <video src="https://hdyaar.org/cache/CAT_punjabi-videos/CAT_punjabi-video-song/4264/mp4/mp4-720p/Naachne%20Ka%20Shaunq%20Raftaar%20-%20HDYaar.Com.mp4" poster="https://i.ytimg.com/vi/QvswgfLDuPg/maxresdefault.jpg" autoplay="" class="video">
        Sorry your browser can't support video tag.
      </video>
      <div class="video-controls">
        <!-- timebar -->
        <div class="video-timebar">
          <div class="video-timebar-buffered"></div>
          <div class="video-timebar-current"></div>
          <div class="video-timebar-duration"></div>
          <div class="video-timebar-circle"></div>
          <div class="video-timebar-toolkit">
            
          </div>
        </div>
        <div class="video-controls-box">
          <!-- suound control -->
          <div class="video-sound-control">
            <div class="video-sound-control-icon">
              <i class="fa fa-volume-up volume-btn"></i>
            </div>
            <div class="video-sound-control-meter">
              <div class="video-sound-control-meter-current"></div>
              <div class="video-sound-control-meter-full"></div>
            </div>
          </div>
          <!-- play and pause btn -->
          <div class="video-control-play-pause">
            <!-- current time -->
            <div class="video-current-time-box">
              
            </div>
            <div class="video-control-btns">
              <i class="fa fa-backward back-btn"></i>
              <i class="fa fa-play-circle-o play-btn"></i>
              <i class="fa fa-forward next-btn"></i>
            </div>
            <!-- video duration time -->
            <div class="video-duration-time-box">
              
            </div>
          </div>
          <!-- subtitle , quality , fullsceen -->
          <div class="video-control-subtitle">
            <!-- <span class="video-language">Hindi</span>
            <span class="video-quality">HD</span>
             -->
            <span class="video-full-screen-icon"><i class="fa fa-expand"></i></span>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>


  <div class="contact-info">
    If you found any bug on this video player please contact me on my <a href="https://instagram.com/theviralboy.ig/">Instagram</a>.
  </div>